go 1.19

use (
	"./Day 01- Installation/Hello"
	"./Day 06-If-else/ifelse"
	"./Day 07-switchcase/switchCase"
	"./Day 08-ForLoop/forloops"
	"./Day 13-Functions/functions"
	"./Day 14-Methods/methods"
	"./Day 16(1)-Defer/defer"
	"./Day 16(2)-WorkingWithFiles/files"
	"./Day 17-HandlingWebRequest/getRequest"
	"./Day 18-HandlingURL/handleUrl"
	"./Day 19-WebRequestGet/Get"
	"./Day 03-UserInput and Conversions/conversions"
	"./Day 03-UserInput and Conversions/userInput"
	"./Day 05-Pointers/pointers"
	"./Day 09-Arrays/arrays"
	"./Day 12-Map/maps_golang"
	"./Day 20-WebRequestPost/post"
	"./Day 21-WebFormData/formData"
	"./Day 22-CreateJSONData/Code"
	"./Day 23-ConsumeJSONData/decodeJson"
)
