go 1.19

use (
	"./Day 01- Installation/Hello"
	"./Day 10-If-else/ifelse"
	"./Day 11-switchcase/switchCase"
	"./Day 12-ForLoop/forloops"
	"./Day 13-Functions/functions"
	"./Day 14-Methods/methods"
	"./Day 15-Defer/defer"
	"./Day 16-WorkingWithFiles/files"
	"./Day 17-HandlingWebRequest/getRequest"
	"./Day 18-HandlingURL/handleUrl"
	"./Day 19-WebRequestGet/Get"
	"./Day 02- Variables/Variables"
	"./Day 03-UserInput and Conversions/conversions"
	"./Day 03-UserInput and Conversions/userInput"
	"./Day 05-Pointers/pointers"
	"./Day 06-Arrays/arrays"
	"./Day 08-Maps/maps"
	"./Day 20-WebRequestPost/post"
	"./Day 21-WebFormData/formData"
	"./Day 22-CreateJSONData/json"
	"./Day 23-ConsumeJSONData/decodeJson"
	"./Day 24-GoMod/module"
)
