go 1.19

use (
	"./Day 1- Installation/Hello"
	"./Day 10-If-else/ifelse"
	"./Day 11-switchcase/switchCase"
	"./Day 12-ForLoop/forloops"
	"./Day 13-Functions/functions"
	"./Day 14-Methods/methods"
	"./Day 15-Defer/defer"
	"./Day 16-WorkingWithFiles/files"
	"./Day 17-HandlingWebRequest/getRequest"
	"./Day 18-HandlingURL/handleUrl"
	"./Day 19-WebRequestGet/Get"
	"./Day 2- Variables/Variables"
	"./Day 3-UserInput and Conversions/conversions"
	"./Day 3-UserInput and Conversions/userInput"
	"./Day 5-Pointers/pointers"
	"./Day 6-Arrays/arrays"
	"./Day 8-Maps/maps"
	./Day20-WebRequestPost/post
	./Day21-WebFormData/formData
	./Day22-CreateJSONData/json
	./Day23-ConsumeJSONData/decodeJson
	./Day24-GoMod/module
)
